html,
body,
h1,h2,h3,h4,h5,h6,
p,
li,
a {
	font-family: 'Open Sans', sans-serif;
}

.container-fluid {
	padding: 0;
}
.container-fluid .main img {
	width: 100%;
}
.container-fluid .main-img-blocks img {
	width: initial;
	margin-bottom: 10px;
}
.navigation {
	position: absolute;
	top: 0;
	width: 100%;
}
.navbar-default {
	background-color: rgba(255,255,255,.5);
	border-radius: 0;
	border: none;
}
.navbar-nav>li {
	border-bottom: 3px solid transparent;
}
.navbar-nav>li.active {
	border-bottom: 3px solid #10B593;
}
.navbar-default .navbar-nav>.active>a {
	background-color: transparent;
}
.navbar-default .navbar-nav>li>a{
	transition: all .3s ease;
}
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:hover {
	background-color: rgba(255,255,255,.3);
	color: #333;
}
.navbar-nav>li.active:hover {
	border-bottom-color: #10B593;
}
.navbar-nav>li:hover {
	background-color: #10B593;
	background-color: rgba(255,255,255,.3);
	border-bottom-color: #32CAAB;
}

			/*			Main Navigation End			*/

.thin {
	font-weight: 400;
}
.main-text h3 {
	color: #292929;
}
p.big-text {
	color: #292929;
}
.diff-color {
	color: #00b08c;
}
.main-text h3 b {
	font-weight: 600;
}

footer {
	background-color: #cfd8dc;
	padding: 20px;
}
footer ul {
	list-style: none;
	padding-left: 0;
	text-transform: capitalize;
}
footer ul a {
	color: #222;
}
.diff-bg-col {
	background-color: #00b08c;
	padding: 10px 20px 20px;
	color: #fff;
}
.diff-bg-col ul {
	padding-left: 20px;
}
.diff-bg-col hr {
	border-top: 2px solid #fff;
}
.main-page-text hr {
	border-top: 2px solid #00b08c;
}
.social a {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-right: 10px;
	text-align: center;
	line-height: 26px;
}
.social .blue-border {
	border: 2px solid #00a1d9;
	color: #00a1d9;
}
.social .violet-border {
	border: 2px solid #635ec1;
	color: #635ec1;
}
.social .orange-border {
	border: 2px solid #ff8900;
	color: #ff8900;
}
.social .red-border {
	border: 2px solid #f23005;
	color: #f23005;
}
.header-business-card {
	padding: 5px;
}
.header-business-card h3 {
	margin: 0;
	font-weight: 300;
}
.header-business-card h3 b,
.header-business-card p b {
	font-weight: 600;
}
.site-navigation .navbar-default {
	background-color: #00b08c;
	border-bottom: 1px solid #00b08c;
}
.site-navigation .navbar-nav>li.active {
	border-color: #fff;
}
.site-navigation .navbar-default .navbar-nav>li>a {
	color: #fff;
	font-weight: 600;
}

.site-navigation .navbar-default .navbar-nav>.active>a:hover,
.site-navigation .navbar-default .navbar-nav>li>a:hover {
	color: #555;
}
.site-navigation .navbar-nav>li:hover {
	border-color: rgba(255,255,255,.3);
}
.bb-green {
	margin-bottom: 20px;
}
.bb-green span {
	text-align: center;
	padding: 0 10px 5px;
	border-bottom: 2px solid #00b08c;
	text-transform: uppercase;
}
table {
	width: 100%;
}
table tr td {
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
	vertical-align: middle;
}
table tr td:last-child{
	border-right: none;
}
table tr:nth-child(2n) td {
	background-color: #0f0;
}
table tr:nth-child(2n+1) td {
	background-color: #f0f;
}
table tr td:first-child {
	color: #fff;
}

table tr:nth-child(2n) td:first-child {
	background-color: #29d3b0;
	font-size: 18px;
}
table tr:nth-child(2n) td:nth-child(n+2) {
	background-color: #bef2e7;
	font-size: 14px;
}
table tr:nth-child(2n) td:last-child {
	background-color: #e3faf5;
	font-size: 24px;
}


table tr:nth-child(2n+1) td:first-child {
	background-color: #77e3cd;
	font-size: 18px;
}
table tr:nth-child(2n+1) td:nth-child(n+2) {
	background-color: #9febdc;
	font-size: 14px;
}
table tr:nth-child(2n+1) td:last-child {
	background-color: #e9fbf7;
	font-size: 24px;
}

table tr:first-child td:first-child {
	background-color: #19b897;
	text-transform: uppercase;
	font-size: 24px;
}
table tr:first-child td:nth-child(n+2) {
	background-color: #92e9d7;
	text-transform: uppercase;
	font-size: 24px;
}
table tr:first-child td:last-child {
	background-color: #d1f6ee;
	text-transform: uppercase;
	font-size: 14px;
	text-align: center;
}

table tr:first-child td:first-child strong {
	font-weight: 500;
}
table p {
	margin: 10px 2px;
}
.specialist-photo {
	width: 100%;
	text-align: center;
}
.specialist-photo img {
	width: 100%;
}
.info-specialist {
	padding: 10px 15px;
	color: #fff;
	margin-bottom: 20px;
}
.info-specialist h5 {
	line-height: 2em;
	margin: 0;
}
.info-specialist hr {
	margin: 10px auto;
}

.col-md-3:first-child .info-specialist {
	background-color: #2c7d76;
}
.col-md-3:nth-child(2) .info-specialist {
	background-color: #00b08c;
}
.col-md-3:nth-child(3) .info-specialist {
	background-color: #54bf83;
}
.col-md-3:last-child .info-specialist {
	background-color: #49cc71;
}

.info-specialist hr {
	border-top: 2px solid #00b08c;
}
.col-md-3:nth-child(2) .info-specialist hr {
	border-top: 2px solid #2c7d76;
}

ul.navbar-nav ul {
	list-style: none;
}
.navbar-default {
	margin-bottom: 0;
}

.uppercase {
	text-transform: uppercase;
}

.main-img-blocks .img-border {
	padding: 20px 0;
	background-color: #2c7d76;
}
.main-img-blocks .img-border a {
	display: block;
	width: 100%;
	font-weight: 500;
	color: #fff;
}
.main-img-blocks .img-border a:hover {
	text-decoration: none;
	font-weight: 600;
}
.main-img-blocks .col-sm-4:nth-child(2) .img-border {
	background-color: #00b08c;
}
.main-img-blocks .col-sm-4:last-child .img-border {
	background-color: #54bf83;
}

.news ul.links {
	list-style: none;
	padding-left: 0;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	-ms-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition:all .3s ease;
}

.news ul.links li {
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	padding: 10px 20px;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	-ms-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition:all .3s ease;
}
.news ul.links li:hover,
.news ul.links li.active {
	background-color: #19b897;
	color: #fff;
	border-color: #19b897;
}
.news ul.links li:hover a,
.news ul.links li.active a {
	color: #fff;
	text-decoration: none;
}
.news ul.links li:first-child {
	border-top-width: 2px;
}
.news ul.links li:last-child {
	border-bottom-width: 2px;
}
.news ul.links a {
	font-size: 24px;
	color: #19b897;
	line-height: 1.1em;
}

.collapse-items {
	width: 50%;
	display: block;
	margin: 5px auto 20px;
	padding: 10px;
	font-size: 20px;
	text-transform: capitalize;
	outline: none;
	background-color: transparent;
	border: 2px solid #19b897;
	color: #19b897;
}
.news img {
	max-width: 100%;
	height: initial;
}
.header-items {
	display: inline-block;
	margin: 3px 10px 50px 0;
	width: 33px;
	height: 33px;
	background-image: url('/assets/images/header-items.png');
	float: left;
}
.header-items.phone {
	background-position: 0 0;
}
.header-items.clock {
	background-position: -35px 0;
}
.header-items.home {
	background-position: -69px 0;
}