html,
body,
h1,h2,h3,h4,h5,h6,
p,
li,
a {
	font-family: 'Open Sans', sans-serif;
}

.container-fluid {
	padding: 0;
}
.container-fluid .main img {
	width: 100%;
}
.navigation {
	position: absolute;
	top: 0;
	width: 100%;
}
.navbar-default {
	background-color: rgba(255,255,255,.5);
	border-radius: 0;
	border: none;
}
.navbar-nav>li {
	border-bottom: 3px solid transparent;
}
.navbar-nav>li.active {
	border-bottom: 3px solid #10B593;
}
.navbar-default .navbar-nav>.active>a {
	background-color: transparent;
}
.navbar-default .navbar-nav>li>a{
	transition: all .3s ease;
}
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:hover {
	background-color: rgba(255,255,255,.3);
	color: #333;
}
.navbar-nav>li.active:hover {
	border-bottom-color: #10B593;
}
.navbar-nav>li:hover {
	background-color: #10B593;
	background-color: rgba(255,255,255,.3);
	border-bottom-color: #32CAAB;
}

			/*			Main Navigation End			*/

.thin {
	font-weight: 400;
}
.main-text h3 {
	color: #292929;
}
p.big-text {
	color: #292929;
}
.diff-color {
	color: #00b08c;
}
.main-text h3 b {
	font-weight: 600;
}

footer {
	background-color: #cfd8dc;
	padding: 20px;
}
footer ul {
	list-style: none;
	padding-left: 0;
	text-transform: capitalize;
}
footer ul a {
	color: #222;
}
.diff-bg-col {
	background-color: #00b08c;
	padding: 10px 20px 20px;
	color: #fff;
}
.diff-bg-col ul {
	padding-left: 20px;
}
.diff-bg-col hr {
	border-top: 2px solid #fff;
}
.main-page-text hr {
	border-top: 2px solid #00b08c;
}
.social a {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-right: 10px;
	text-align: center;
	line-height: 26px;
}
.social .blue-border {
	border: 2px solid #00a1d9;
	color: #00a1d9;
}
.social .violet-border {
	border: 2px solid #635ec1;
	color: #635ec1;
}
.social .orange-border {
	border: 2px solid #ff8900;
	color: #ff8900;
}
.social .red-border {
	border: 2px solid #f23005;
	color: #f23005;
}
.header-business-card {
	padding: 5px;
}
.header-business-card h3 {
	margin: 0;
	font-weight: 300;
}
.header-business-card h3 b,
.header-business-card p b {
	font-weight: 600;
}
.site-navigation .navbar-default {
	background-color: #00b08c;
	border-bottom: 1px solid #00b08c;
}
.site-navigation .navbar-nav>li.active {
	border-color: #fff;
}
.site-navigation .navbar-default .navbar-nav>li>a {
	color: #fff;
	font-weight: 600;
}

.site-navigation .navbar-default .navbar-nav>.active>a:hover,
.site-navigation .navbar-default .navbar-nav>li>a:hover {
	color: #555;
}
.site-navigation .navbar-nav>li:hover {
	border-color: rgba(255,255,255,.3);
}
.bb-green {
	margin-bottom: 20px;
}
.bb-green span {
	text-align: center;
	padding: 0 10px 5px;
	border-bottom: 2px solid #00b08c;
	text-transform: uppercase;
}
table {
	width: 100%;
}
table tr td {
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
	vertical-align: middle;
}
table tr td:last-child{
	border-right: none;
}
table tr:nth-child(2n) td {
	background-color: #0f0;
}
table tr:nth-child(2n+1) td {
	background-color: #f0f;
}
table tr td:first-child {
	color: #fff;
}

table tr:nth-child(2n) td:first-child {
	background-color: #29d3b0;
	font-size: 18px;
}
table tr:nth-child(2n) td:nth-child(n+2) {
	background-color: #bef2e7;
	font-size: 14px;
}
table tr:nth-child(2n) td:last-child {
	background-color: #e3faf5;
	font-size: 24px;
}


table tr:nth-child(2n+1) td:first-child {
	background-color: #77e3cd;
	font-size: 18px;
}
table tr:nth-child(2n+1) td:nth-child(n+2) {
	background-color: #9febdc;
	font-size: 14px;
}
table tr:nth-child(2n+1) td:last-child {
	background-color: #e9fbf7;
	font-size: 24px;
}

table tr:first-child td:first-child {
	background-color: #19b897;
	text-transform: uppercase;
	font-size: 24px;
}
table tr:first-child td:nth-child(n+2) {
	background-color: #92e9d7;
	text-transform: uppercase;
	font-size: 24px;
}
table tr:first-child td:last-child {
	background-color: #d1f6ee;
	text-transform: uppercase;
	font-size: 14px;
	text-align: center;
}

table tr:first-child td:first-child strong {
	font-weight: 500;
}
table p {
	margin: 10px 2px;
}